django==3.0.8
postgres==3.0.0
elasticsearch==7.0.2
elasticsearch-dsl==7.0.0
django-elasticsearch-dsl==7.1.1
psycopg2-binary==2.8.6
psycopg2-pool==1.1
Faker==4.1.1
django-elasticsearch-dsl-drf
djangorestframework>=3.11.0,<3.12
django-cors-headers==3.2.0
python-memcached==1.58
pytz==2020.4
six>=1.9
Pillow
django-allauth