{% extends 'base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">  
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>  

<div class="container">
<p>Hi!</p>
<p>this is your profile information:</p>
<p>Username: <b>{{request.user.username}}</b><br>
Email: <b>{{request.user.email}}</b></p>


<hr>

covid info:<br>


{{form.has_data}}

{% if form.has_data.value == False %}
  </p>we got no info about you yet please help us by answering this </p>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Submit"> 
  </form>
{% else %}
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Submit"> 
  </form>



{% endif %}


<hr>





{% endblock %}