{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/search.css' %}">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container text-center">

  <div id="country" class="ui-widget" >
    <p>Search covid number for a country</p>
    <input id="country-search" placeholder="eg. Denmark">
  </div> 
  
  <div id="result" >
    <br>
    <p>Showing result for <b>{{city}}</b> {% if city != None %} in {%endif%} <b>{{country}}</b> </p>
    <p>There are <b>{{hits}}</b> infected in area </p>
    <p>The goverment recomendations for selected area is:</p>
    <p><b>{{risk}}</b></p>
  </div>

  <div id="city" class="" hidden>
    <p>Optional* for a city</p>
    <input type="text" id="city-search" placeholder="eg. Copenhagen">
  </div>

  <div id="log-query" class="ui-widget" style="margin-top:2em; font-family:Arial"  hidden>
    <form>
    <p>Search in:</p>
    <div id="log-country" style="font-weight: bold;" class="ui-widget-content"><div>
    <input type="hidden" id="countrysearch" name="countrysearch">
    <div id="log-city" style="font-weight: bold;" class="ui-widget-content"></div>
    <input type="hidden" id="citysearch" name="citysearch" >
    <table id="log" style="margin-left: auto;margin-right: auto;" ></table>
    <br>
    <input onclick="setValues()" type="submit" value="Go"> 
    </form>
  </div>
</div>










<script>
var city=""
var country=""

if (window.location.search === ''){
  $('#result').attr("hidden",true)
}

function updateQuery( ) {
  $('#result').attr("hidden",true)

  $("#log").empty()
  $("#log").append("<tr><td><p style='font-weight: bold'>country</p></td><td><p>:"+country+"</p></td></tr>");
  if(city!=""){
  $("#log").append("<tr><td><p style='font-weight: bold'>city</p></td><td><p>:"+city+"</p></td></tr>");
  $("#log").scrollTop( 0 );
  }
}

function setValues(){
  $('#countrysearch').val(country)
  $('#citysearch').val(city)
}

 $('#city').keyup(function(){
  if($('#city-search').val()==""){
    city=""
    updateQuery()
  }
});
  
//add autocomplete to country
$(function() {
  $( "#country-search" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "/api/search/suggest",
        dataType: "json",
        headers: {'X-CSRFToken':  getCookie('csrftoken')},
        data: {
          country_suggest__completion: request.term
        },
        success: function( data ) {
          var suggestions=[]
          $.each(data.country_suggest__completion[0].options, function(index,value){
              suggestions.push(value.text)
          })
          response(suggestions)
        }
      });
    },
    select: function( event, ui ) {
      country=ui.item.label
      updateQuery();
        document.getElementById('city').removeAttribute("hidden");  
        document.getElementById('log-query').removeAttribute("hidden");  
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }

  });
});

//add autocomplete to citry
$(function() {


  $( "#city-search" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        headers: {'X-CSRFToken':  getCookie('csrftoken')},
        url: "http://localhost:8000/api/search/suggest",
        dataType: "json",
        data: {
          city_suggest__completion: request.term
        },
        success: function( data ) {
          
          var suggestions=[]
          
          $.each(data.city_suggest__completion[0].options, function(index,value){
              suggestions.push(value.text)
          })
      
          response(suggestions)


        }
      });
    },
    select: function( event, ui ) {
      city=ui.item.label
      updateQuery();
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }

  });
});


function makeSearch(){
  $.ajax({
        url: "http://localhost:8000/api/search/",
        dataType: "json",
        data: {
          search: $('#city-search').val()
        },
        success: function( data ) {
          
          console.log()


        }
      });
}



</script>

{% endblock %}