
{% extends 'base.html' %}

{% block content %}


{% load static %}
<script src="{% static 'js/accounts/signup.js' %}"></script>
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">  
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>  

<div class="container">
  <div class="d-flex justify-content-center">
    <form method="post">
      <p class="text-center">help stop the covid spread</p>
      <h2 class="text-center">Sign up</h2>
      <p style="font-size: 12px"  class="text-center">already got an accoount? <a class="" style="font-size: 12px" href="/accounts/signin"> click here</a></p>
      {% csrf_token %}
      <p><label for="id_username">Name:</label><br>
      <input type="text" name="username" maxlength="150">
      {% for error in form.username.errors %}
          <p style="color: red; font-size: 12px">{{ error }}</p>
      {% endfor %}</p>
      <p><label for="id_email">Email:</label><br>
      <input type="text" name="email" maxlength="400">
      {% for error in form.email.errors %}
          <p style="color: red; font-size: 12px">{{ error }}</p>
      {% endfor %}</p>
      <p><label for="id_password1">Password:</label><br>
      <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
      {% for error in form.password1.errors %}
          <p style="color: red; font-size: 12px">{{ error }}</p>
      {% endfor %}</p>
      <p><label for="id_password2">Password confirm:</label><br>
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
      {% for error in form.password2.errors %}
          <p style="color: red; font-size: 12px">{{ error }}</p>
      {% endfor %}</p>
      <div class="text-center" ><input class="btn btn-primary" type="submit" value="Confirm"></input></div>
      
      <hr>
      <p class="text-center">or connect with social medias</p>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <div style="text-align: center;" class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <fb:login-button 
              scope="public_profile,email"
              onlogin="checkLoginState();">
            </fb:login-button>
          </div>
        </div>
        
        <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google</a>

    </form>
  </div>
</div>








{% endblock %}