{% extends 'base.html' %}


{% block content %}

    <div class="container text-center">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/accounts/signup" target="blank"><strong>register here</strong></a>!</p>

        <p>or connect with</p>

        <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google</a>


    </div>

    {% for error in form.errors%}
        {{error}}
    {% endfor %}
{% endblock %}


